body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c-email {
    width: 600px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 1px 3px 1px #ccc;
}

.header__title {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #fff;
    padding: 12px 8px;
    background-color: #0fd59f;
}

.content__text-code {
    font-size: 30px;
    margin: 20px 0 40px 0;
}

.code__text {
    font-size: 40px;
    border-radius: 30px;
    padding: 8px 20px;
    letter-spacing: 12px;
    background-color: #ccc;
}

.content__text {
    color: #ccc;
    font-size: 20px;
    font-style: italic;
    margin: 30px 0 60px 0;
}