body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.color_like {
    color: #0866ff !important;
}

.color_heart {
    color: #fd5155 !important;
}

.color_cmt {
    color: #86888b !important;
}

.color_face {
    color: #fee281 !important;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px 1px #ccc;
}

.logo-search {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
}

.logo a {
    position: relative;
    top: 2px;
    margin-right: 8px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 14px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #1877f2;
    border: 1px solid #1877f2;
}

.logo a:hover {
    color: #fff;
    text-decoration: none;
}

.search input {
    outline: none;
    position: relative;
    font-size: 15px;
    color: #050505;
    padding: 8px 20px 8px 40px;
    border-radius: 20px;
    border: 1px solid #f0f2f5;
    background-color: #f0f2f5;
}

.search i {
    position: absolute;
    font-size: 14px;
    color: #86888b;
    top: 21px;
    left: 84px;
}

.nav-list {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
}

.notify-mess {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex: 1;
    align-items: center;
    margin-right: 20px;
}

.nav-list ul, .notify-mess ul {
    display: flex;
    list-style: none;
}

.nav-list a i {
    padding: 12px 50px;
    transform: translateY(+14%);
}

.nav-list a i:hover {
    border-radius: 10px;
    background-color: #f5efef;
}

.nav-list li a {
    font-size: 20px;
    color: #86888b;
}

.notify-mess .nm_icon {
    padding: 10px 12px;
    border-radius: 20px;
    transform: translateY(+15%);
    background-color: #e4e6eb;
}

.notify-mess .nm_icon:hover {
    color: #000;
    background-color: #ccc;
}

.notify-mess .nm_link {
    font-size: 20px;
    color: #000;
    margin: 0 4px;
}

.notify-mess .nm_link img {
    width: 40px;
    border-radius: 50%;
    transform: translateY(+15%);
    transition: filter 0.05s;
}

.notify-mess .nm_link img:active {
    filter: brightness(0.7);
}

/* Open Profile Setting */
#open-profile {
    position: relative;
}

.acc_more {
    display: none;
    position: absolute;
    right: 25px;
    top: 54px;
    width: 340px;
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 2px #ccc;
}

.acc_more ul {
    display: flex;
    padding-left: 0;
    flex-direction: column;
}

.acc_more li {
    padding: 12px 4px;
}

.acc_more li:hover {
    border-radius: 12px;
    background-color: #e9ebf1;
}

.acc_more a {
    display: flex;
    color: #050505;
    align-items: center;
    text-decoration: none;
}

.acc_more a:hover {
    color: #050505;
    text-decoration: none;
}

.acc_more img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.acc_more i {
    font-size: 20px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #e4e6eb;
}

/* Section left */
.body {
    display: flex;
}

.section-left{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 80px;
    margin-left: -10px;
    flex: 1;
    width: 25%;
    max-width: 350px;
    overflow-y: scroll;
    box-shadow: 1px 0px 3px 1px #ccc;
}

.section-left ul {
    list-style: none;
}

.section-left li {
    padding: 8px 0 8px 10px;
}

.section-left li:hover {
    border-radius: 10px;
    background-color: #e4e6eb;
}

.section-left ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.section-left ul i {
    color: #1877f2;
    font-size: 23px;
    width: 30px;
    margin-right: 20px;
}

.section-left ul i:hover {
    color: #1877f2;
}

.section-left img {
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.section-left h5 {
    margin-top: 4px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.left-top {
    border-bottom: 1px solid #ccc;
}

.left-bot h4 {
    color: #797b7f;
    font-size: 17px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 30px;
}

.section-right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    padding-top: 80px;
    padding-left: 10px;
    flex: 1;
    width: 25%;
    max-width: 350px;
    overflow-y: scroll;
    box-shadow: 0px 1px 3px 2px #ccc;
}

.advertise {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.section-right h4 {
    color: #65676b;
    font-size: 17px;
    font-weight: 600;
}

.section-right ul {
    list-style: none;
    padding-left: 0;
}

.section-right li {
    padding: 8px 10px 8px 0;
}

.section-right li:hover {
    border-radius: 10px;
    background-color: #e4e6eb;
}

.section-right ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.section-right ul i {
    color: #1877f2;
    font-size: 23px;
    width: 30px;
    margin-right: 20px;
}

.section-right ul i:hover {
    color: #1877f2;
}

.advertise img {
    width: 130px;
    border-radius: 8px;
    margin-right: 20px;
}

.des h5 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.des h6 {
    font-size: 12px;
    color: #65676b;
}

.addfriend {
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    margin-top: -5px;
    font-size: 15px;
    color: #0064D1;
    padding: 8px 12px;
    text-decoration: none;
}

.header a:hover {
    color: #0064D1;
    border-radius: 4px;
    text-decoration: none;
    background-color: #e4e6eb;
}

.newfriend {
    display: flex;
    padding: 8px;
    align-items: center;
}

.newfriend:hover {
    border-radius: 8px;
    background-color: #f5efef;
}

.newfriend img {
    width: 50px;
    margin-right: 12px;
    border-radius: 50%;
}

.nf-information {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.name-acpt h5 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.name-acpt a {
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    width: 115px;
    font-size: 15px;
    padding: 6px 0;
    text-decoration: none;
    background-color: #0866ff;
}

.time-refuse {
    text-align: right;
}

.time-refuse a {
    display: inline-block;
    text-align: center;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    width: 115px;
    font-size: 15px;
    padding: 6px 0;
    background-color: #ede2e2;
}

.name-acpt a:hover {
    color: #fff;
    background: #0760f0;
    text-decoration: none;
}

.time-refuse a:hover {
    color: #000;
    background: #d6cccc;
    text-decoration: none;
}

.time-refuse h6 {
    color: #65676b;
    margin-bottom: 15px;
}

.friend li {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: -10px;
}

.friend img {
    width: 30px;
    margin-right: 12px;
    border-radius: 50%;
}

.friend span {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 1px;
}

/* POST */
.post {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.post_list {
    position: relative;
    overflow: hidden;
    width: 600px;
}

.story {
    padding-top: 80px;
    display: flex;
    margin-bottom: 25px;
    transition: transform 0.5s ease; /* Hiệu ứng chuyển đổi khi di chuyển ảnh */
}

#moveLeftButton {
    position: absolute;
    left: 40px;
    top: 190px;
    width: 50px;
    height: 50px;
    color: #6e7074;
    font-size: 24px;
    border: none;
    border-radius: 50%;
}

#moveRightButton {
    position: absolute;
    right: 40px;
    top: 190px;
    width: 50px;
    height: 50px;
    color: #6e7074;
    font-size: 24px;
    border: none;
    border-radius: 50%;
}

#moveLeftButton:active, #moveRightButton:active {
    filter: brightness(0.7);
}

.story img {
    width: 140px;
    height: 250px;
    margin: 0 4px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.story img:hover {
    transform: scale(1.02);
}

.status {
    width: 500px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    padding: 12px 16px 10px 16px;
    box-shadow: 1px 0px 4px 0px #ccc;
}

.post-input {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.post-input img {
    width: 40;
    height: 40;
    margin-right: 12px;
    border-radius: 50%;
}

.post-input span {
    color: #86888b;
    font-size: 17px;
    flex-grow: 1;
    text-align: left;
    border-radius: 20px;
    padding: 8px 12px;
    border: none;
    background-color: #f0f2f5;
}

.post-input span:hover {
    color: #86888b;
    background-color: #f0f2f5;
}

.post-btn {
    padding-top: 10px;
}

.post-btn ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.post-btn li {
    font-size: 15px;
    padding: 8px;
    font-weight: 600;
}

.post-btn li:hover {
    border-radius: 8px;
    background-color: #f5efef;
}

.post-btn i {
    color: #f02849;
    margin-right: 4px;
}

/* Modal */
.modal {
    transform: translateY(+20%);
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50% !important;
    transform: translate(-50%);
}

.btn-close {
    font-size: 17px;
    border-radius: 50% !important;
    padding: 9px 10px !important;
    background-color: #e4e6eb !important;
}

.btn-close:hover {
    background-color: #afb4bd !important;
}

.acc__post {
    display: flex;
    align-items: center;
}

.acc__post img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.acc__post select {
    outline: none;
    font-weight: 600;
    font-size: 13px;
    border-radius: 5px;
    padding: 0 12px;
    border: 1px solid #e4e6eb;
    background-color: #e4e6eb;
}

.acc__post option {
    padding: 2px 0;
    font-weight: 600;
    font-size: 13px;
}

.content__post textarea {
    margin: 20px 0;
    outline: none;
    font-size: 20px;
    border: none;
    width: 100%;
    height: 150px;
}

.upload__post button {
    border-radius: 8px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 700;
    border: none;
    width: 100%;
    color: #fff;
    background-color: #0866ff;
}

/* Content Post */
.post_content {
    width: 500px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 1px 0px 4px 0px #ccc;
}

.header_post {
    display: flex;
    padding: 12px 16px;
}

.header_post img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.header_post h4 {
    margin-bottom: 0;
}

.header_post span {
    font-size: 13px;
    color: #65676b;
}

.caption_post {
    margin-bottom: 10px;
}

.caption_post span {
    font-size: 15px;
    color: #050505;
    padding-left: 16px;
}

.content_post img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.interact_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding-bottom: 12px;
    margin: 12px 16px 4px 16px;
    border-bottom: 1px solid #ccc;
}

.interact_post a {
    text-decoration: none;
}

.interact_post span {
    color: #65676b;
}

.interact_post a:hover {
    text-decoration-color: #65676b;
}

.interact_btn {
    padding: 0 16px;
}

.interact_btn .button-react {
    position: relative;
}

.interact_btn ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 4px;
    list-style: none;
}

.interact_btn li button {
    border: none;
    font-size: 15px;
    color: #65676b;
    text-align: center;
    padding: 6px 0;
    font-weight: 500;
    background-color: #fff;
}

.interact_btn li i {
    font-size: 15px;
    color: #65676b;
}

.interact_btn li:hover button, .interact_btn li:hover i {
    color: #86888b;
}

.interact_btn .like-button::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 20px;
    top: -13px;
    left: -10px;
}

.interact_btn .emotions {
    display: none;
    position: absolute;
    z-index: 1;
    top: -60px;
    left: -34px;
    border-radius: 20px;
    padding: 4px;
    background-color: #fff;
    white-space: nowrap;
    box-shadow: 1px 0px 4px 0px #ccc;
}

.interact_btn .emotions i {
    padding: 0 6px;
    font-size: 40px;
    cursor: pointer;
}

.interact_btn span i:hover {
    transform: scale(1.2)
}

.interact_btn .button-react:hover .emotions{
    display: block;
}